## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [1]:
def multiplication_table():
  for num in range(1, 11):
    print(f"\n{num}'s Table")
    for times in range(1, 11):
      print(f"{num} x {times} = {num * times}")

multiplication_table()

1's Table
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2's Table
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3's Table
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4's Table
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5's Table
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6's Table
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7's Table
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8's Table
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9's Table
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10's Table
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [2]:
def create_third_list(l1, l2):
  l3 = []
  mn_len = min(len(l1), len(l2))
  for i in range(mn_len):
    if i % 2 == 0:
      l3.append(l2[i])
    else:
      l3.append(l1[i])
  for i in range(mn_len,len(l1)):
    if i % 2 == 1:
      l3.append(l1[i])
  for i in range(mn_len,len(l2)):
    if i % 2 == 0:
      l3.append(l2[i])
  return l3


l1 = [3, 6, 9, 12, 15, 18, 21, 35]
l2 = [4, 8, 12, 16, 20, 24]
l3 = create_third_list(l1, l2)
print(l3)

[4, 6, 12, 12, 20, 18, 35]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [3]:
#write here and run the cell
for i in range(7, 0, -1):
  print("  " * (7 - i), end="")
  print("* " * i)

* * * * * * *
  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [4]:
#write here and run the cell
def exponent(base, exp):
  result = 1
  for i in range(exp):
    result *= base
  return result

base = 5
exp = 4
print(f"{base} raises to the power of {exp} is: {exponent(base, exp)}")

5 raises to the power of 4 is: 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [5]:
#write here and run the cell
content = "line1\nline2\nline3\nline4\nline5\nline6\nline7"
with open("test.txt", 'w') as file:
  file.write(content)
with open("test.txt", 'r') as input_file, open("output.txt", 'w') as output_file:
  for i, line in enumerate(input_file, start=1):
    if i != 5:
      output_file.write(line)
with open("output.txt", 'r') as file:
  print(file.read())

line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [6]:
#write here and run the cell
def single_input():
  print("Enter three names separated by spaces")
  names = input("Input: ")
  names = names.split()
  print("Output:")
  for name in names:
    print(name)

single_input()

Enter three names separated by spaces
Input: IIT JODHPUR RAJASTHAN
Output:
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [7]:
#write here and run the cell
def show_employee(name, salary=9000):
  print(f"Name: {name} salary: {salary}")

show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [8]:
#write here and run the cell
import re

def find_words_with_letters_and_digits(text):
  words = re.findall(r'[a-zA-Z]+\d+', text)
  return words

str1 = "Harry25 is Gryffindor Wizard50 and cursed"
words_with_both = find_words_with_letters_and_digits(str1)
print(words_with_both)

['Harry25', 'Wizard50']

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [9]:
#write here and run the cell
import re

str1 = '/*Modi is @Politician & Melony!!'
print(re.sub(r'[^a-zA-Z0-9\s]', '#', str1))

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [10]:
#write here and run the cell
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
print(set(zip(first_list, second_list)))

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [11]:
#write here and run the cell
A = {1, 9, 10, 97, 0}
B = {0, 98, 76, 69, 10}

print("A-B:", A - B)
print("B-A:", B - A)
print("A∩B:", A.intersection(B))
print("A∪B:", A.union(B))

A-B: {1, 97, 9}
B-A: {98, 76, 69}
A∩B: {0, 10}
A∪B: {0, 1, 97, 98, 69, 9, 10, 76}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [12]:
#write here and run the cell
class Vehicle:
  def __init__(self, max_speed, mileage):
    self.max_speed = max_speed
    self.mileage = mileage

car = Vehicle(200, 18)
print(car.max_speed, car.mileage)

200 18

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [13]:
#write here and run the cell
class Bus(Vehicle):
  pass

School_bus = Bus(120, 4.5)
print(School_bus.max_speed, School_bus.mileage)

120 4.5

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [14]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def __init__(self, max_speed, mileage, capacity=50):
    super().__init__("Bus", max_speed, mileage)
    self.capacity = capacity

school_bus = Bus(180, 12)
print(school_bus.seating_capacity(school_bus.capacity))

The seating capacity of a Bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [15]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
  def fare(self):
    total_fare = super().fare()
    return total_fare + 0.1 * total_fare

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [16]:
#write here and run the cell
import json

data = {"key1" : "value1", "key2" : "value2"}
print(json.dumps(data))

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [17]:
#write here and run the cell
import json

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}
print(json.dumps(sampleJson, sort_keys=True))

{"age": 29, "id": 1, "name": "value2"}